<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>Fake UI</title>
</head>
<body>

<style>
body {
	display: flex;
	flex-direction: row;
}

#c2s, #s2c {
	width: 50%;
}
</style>

<div id="c2s">
Client to server<hr>
</div>
<div id="s2c">
Server to client<hr>
</div>


<script src="msgpack.min.js"></script>
<script>
const ws = new WebSocket('{{ ws_url | safe }}') /*'ws://localhost:8765/ws'*/
let board_size = {x: 0, y: 0}
let board = [[]]
let colors = []
let pixel_pool = 0

function hr() {
	return document.createElement('hr')
}

function append_pre(column, content) {
	let pre = document.createElement('pre')
	pre.append(JSON.stringify(content, (k, v) => {
		if (Array.isArray(v) && v.length > 16)
			return `[array of length ${v.length}]`
		return v
	}, 4))
	document.getElementById(column).prepend(pre)
	document.getElementById(column).prepend(hr())
}

function wssend(ws, data) {
	ws.send(msgpack.serialize(data))
	append_pre('c2s', data)
}

ws.addEventListener('message', async event => {
	let buffer = await event.data.arrayBuffer()
	let msg = msgpack.deserialize(buffer)
	append_pre('s2c', msg)

	switch (msg.req) {
	case 'colors':
		colors = msg.colors
		break
	case 'board':
		board = msg.board
		board_size.x = msg.size.x
		board_size.y = msg.size.y
		break
	case 'pixel_pool':
		pixel_pool = msg.count
		document.getElementById('c2s').prepend(`Pixel pool: ${pixel_pool}\n`)
		document.getElementById('c2s').prepend(hr())
		break
	case 'update':
		break
	default:
		document.getElementById('s2c').prepend('Unknown request')
	}
})

// Draw a pixel every 9 s
window.setInterval(() => {
	if (colors.length > 0 && board_size.x > 0 && pixel_pool > 0) {
		wssend(ws, {
			req: 'click',
			x: Math.round(Math.random() * board_size.x),
			y: Math.round(Math.random() * board_size.y),
			color: Math.round(Math.random() * colors.length),
			checksum: null,
		})
	}
}, 9 * 1000)

// Request full board every 23 s
window.setInterval(() => {
	wssend(ws, {req: 'get_board'})
}, 23 * 1000)
</script>

</body>
</html>
