html {
	margin: 0;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	background: #555;

	grid-template-columns: 1fr max-content max-content;
	grid-template-rows: 8vh 1fr;
}

main {
	grid-row: 2 / 3;
	grid-column: 1 / 4;
	text-align: center;
	overflow: auto;
}

canvas {
	display: inline-block;
	image-rendering: crisp-edges;
	margin: 10px auto;
	box-shadow: 0 0 10px black;
}

#colors {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	width: auto;
}

button.color {
	width: 8vh;
	min-width: 7vh;
	height: 100%;
	border: none;
	border-radius: 15%;
	box-shadow: 0 0 10px black;
	padding: 0;
	margin: 0 2px;
}

button.color::after {
	content: "";
	display: block;
	position: relative;
	left: 6%;
	width: 87%;
	height: 87%;
	background: linear-gradient(rgba(225, 225, 225, 0.8), transparent 50%);
	border-radius: 15%;
}

button.color.selected {
	border: 5px dashed lightgray;
}

button.color.selected::after {
	background: none;	/* Gradient does not play well with border */
}

#ws_status {
	display: flex;
	align-items: center;
}

#ws_status div {
	height: 4vh;
	width: 4vh;
	border-radius: 50%;
	margin: .5rem;
}

#ws_status img {
	height: 2.4vh;
	width: 2.4vh;
	padding: .8vh;
}

#ws_status.online div { background: chartreuse; }
#ws_status.offline div { background: lightgray; }

#pixel_pool {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 1.5vh;
	text-align: center;
	padding: 0 1rem 0 .5rem;
}

#pp_num {
	font-size: 4vh;
}

#errors {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: flex;
	flex-flow: column;
}

#errors > div {
	padding: 12px 8px;
	border-radius: 1rem;
}

#errors > div.error {
	background: pink;
	border: 2px solid red;
}

#errors > div.warning {
	background: lightyellow;
	border: 2px solid orange;
}
